root { 
    display: block;
   
}
.menu{
    display: block;
}
.root {
-fx-background-image: url("carte.bmp");
-fx-background-repeat: stretch;
-fx-background-size: 1600 800;
-fx-background-position: left bottom;
}
